.main {
  box-sizing: border-box;
  margin: 50px auto;
  width: 400px;
  min-height: 200px;
  border-radius: 20px;
  border: 1px solid #a020f0;
  overflow: hidden;
}

.header {
  background-color: #a020f0;
}

.header-container {
  padding: 10px 40px 20px 40px;
  min-height: 80px;
}

.title-section {
  color: white;
}

h1 {
  font-weight: 400;
}

.input-task {
  font-size: 17px;
  width: 240px;
  padding: 7px;
  border-radius: 10px;
  border: none;
}

.input-task:focus {
  outline: 1px solid black;
}

.btn-add {
  margin: 0 0 0 24px;
  padding: 8px 13px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
}
.btn-add:hover:enabled {
  cursor: pointer;
  background-color: lightgrey;
}

.tasklist-container {
  width: 360px;
}

.ul-tasklist {
  list-style-type: none;
}

.li-tasklist {
  font-size: 25px;
}

.label-container-tasklist {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  margin-bottom: 5px;
}

.label-tasklist {
  margin-bottom: 1px;
}

.line-tasklist {
  margin-bottom: 5px;
  border-top: 1px solid #a020f0;
}

.action-container {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0 3px;
  cursor: pointer;
}

.checkbox:checked {
  filter: brightness(0) saturate(100%) invert(21%) sepia(56%) saturate(5847%)
    hue-rotate(272deg) brightness(93%) contrast(105%);
}

.btn-remove {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.btn-removeAll {
  font-size: 20px;
  padding: 5px 18px;
  border-radius: 10px;
  background-color: #a020f0;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
  margin: 7px 35px 20px 20px;
}

.checked {
  text-decoration: line-through;
}
